# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/

# Visual Studio Code
.vscode/

# IntelliJ
.idea/
*.iml

# Firebase configuration files (do not commit secrets)
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
