<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.iroha">

    <application>
        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="iroha_default" />
    </application>

</manifest>
